<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JMNA GAP Replacement Test suite">

	<listeners>
		<listener class-name="sample.testUtils.TestListener" />
		<listener class-name="sample.testUtils.AnnotationTransformer" />
	</listeners>

	<test name="">

		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="" />
		</classes>

	</test> <!-- Test -->

</suite> <!-- Suite -->